<!DOCTYPE html>
<html lang="es">

<head th:replace="commons/header :: header" />

<body>
    <style type="text/css">
        h1 {
            text-align: center;
            margin-bottom: 2em;
        }

        .espaciado input {
            margin-bottom: 1em;
        }

        .row .boton {
            display: flex;
            justify-content: center;
        }

        .boton input,
        .boton a,
        .boton button {
            margin: 4em 1em;
            width: 16em;
        }

        div.valid-nombre {
            color: red;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var formulario = document.querySelector("#formMateria");

            var boton = formulario.querySelector("input[type=button]");

            boton.addEventListener("click", validarForm);

            function validarForm() {
                var hasError = false;
                var cajas = formulario.querySelectorAll("input[type=text]");

                cajas.forEach(function (element) {
                    if (element.classList.contains("valid-nombre")) {
                        if (element.value == "") {
                            var divError = formulario.querySelector("div.valid-nombre");
                            divError.hidden = false;
                            hasError = true;
                        } else {
                            var divError = formulario.querySelector("div.valid-nombre");
                            divError.hidden = true;
                        }
                    }
                });

                if (hasError == false)
                    formulario.submit();
            }
        });
    </script>
    <div th:replace="commons/menu :: menu" />
    <div class="container">
        <h1>Añadir Materia</h1>
        <form th:action="@{/materias/save}" method="post" id="formMateria">
            <div class="row">
                <div class="col espaciado">
                    <div>
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control valid-nombre" id="nombre" name="nombre" />
                        <div hidden class="valid-nombre">
                            <label>Comprueba que has escrito bien el nombre.</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="boton">
                    <a th:href="@{/materias/list}" class="btn btn-outline-warning" id="btnVolver">Volver</a>
                    <input class="btn btn-outline-success" type="button" id="btnEnviar" value="Guardar">
                </div>
            </div>
        </form>
    </div>
    <div th:replace="commons/footer :: footer" />
</body>

</html>