<!DOCTYPE html>
<html lang="es">

<head th:replace="commons/header :: header" />

<script>
    $(document).ready(function () {
        // Obtener el elemento de "toast"
        var toastEl = $('.toast');

        // Crear el objeto de "toast" con opciones personalizadas
        if (toastEl) {
            var toast = new bootstrap.Toast(toastEl, {
                autohide: true,
                delay: 5000,
                animation: true
            });
            // Mostrar el "toast"
            toast.show();
        }
    });

    document.addEventListener("DOMContentLoaded", function () {

        var sProvincia = document.querySelector("select[name='provincia_id']");
        var sMunicipio = document.querySelector("select[name='municipio_id']");
        var iMunicipio = document.querySelector("input[name='idMunicipio']");


        if (sProvincia.value != -1)
            cargaMunicipios();

        sProvincia.addEventListener("change", function () {
            cargaMunicipios();
        })

        function cargaMunicipios() {
            $.ajax({
                url: 'http://localhost:9091/ws_etutoring/municipios/provincia/' + sProvincia.value,
                type: 'GET',
                success: function (response) {
                    if (response.length > 0)
                        sMunicipio.disabled = false;
                    else
                        sMunicipio.disabled = true;
                    sMunicipio.textContent = "";
                    response.forEach(function (element) {
                        var op = document.createElement("option");
                        op.value = element.idMunicipio;
                        op.textContent = element.municipio;
                        if (iMunicipio)
                            if (op.value == iMunicipio.value) {
                                op.selected = true;
                            }
                        sMunicipio.appendChild(op);
                    });
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }

        var formulario = document.querySelector("#formUsuario");

        var boton = formulario.querySelector("input[type=button]");

        boton.addEventListener("click", validarForm);

        function validarForm() {
            var hasError = false;
            var cajas = formulario.querySelectorAll("input[type=text]");

            cajas.forEach(function (element) {
                if (element.classList.contains("valid-text")) {
                    if (element.value == "") {
                        var divError = element.parentElement.querySelector("div.valid-text");
                        divError.hidden = false;
                        hasError = true;
                    } else {
                        var divError = element.parentElement.querySelector("div.valid-text");
                        divError.hidden = true;
                    }

                } else if (element.classList.contains("valid-direccion")) {
                    if (!validarNumero(element.value) || element.value == "") {
                        var divError = element.parentElement.querySelector("div.valid-direccion");
                        divError.hidden = false;
                        hasError = true;
                    } else {
                        var divError = element.parentElement.querySelector("div.valid-direccion");
                        divError.hidden = true;
                    }

                } else if (element.classList.contains("valid-email")) {
                    if (!validarCorreo(element.value)) {
                        var divError = formulario.querySelector("div.valid-email");
                        divError.hidden = false;
                        hasError = true;
                    } else {
                        var divError = formulario.querySelector("div.valid-email");
                        divError.hidden = true;
                    }
                }
            });

            if (hasError == false)
                formulario.submit();
        }

        function validarNumero(numero) {
            if (isNaN(numero)) {
                return false;
            }
            return true;
        }

        function validarCorreo(correo) {
            var correoPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

            if (!correoPattern.test(correo)) {
                return false;
            }

            return true;
        }

    });
</script>

<body>
    <style type="text/css">
        h1 {
            text-align: center;
            margin-bottom: 1em;
        }

        label {
            margin-top: 1em;
        }

        .tipo {
            margin-top: 0;
        }

        .direccion {
            margin-top: 1em;
        }

        .row .boton {
            display: flex;
            justify-content: center;
        }

        .boton input,
        .boton a {
            margin: 2em 1em 0 1em;
            width: 16em;
        }

        .foto>input {
            display: block;
        }

        .enlaces button {
            margin-top: 1em;
        }

        .foto-perfil {
            width: 10em;
            height: 10em;
        }

        .cabecera {
            background-color: rgba(11, 218, 114, 0.4)
        }


        .content-select select:disabled {
            background-color: rgba(128, 128, 128, 0.233);
        }

        div.valid-text,
        div.valid-direccion,
        div.valid-email {
            color: red;
        }
    </style>
    <div th:replace="commons/menu :: menu" />
    <div class="container">

        <div class="toast notificacion" role="alert" aria-live="assertive" aria-atomic="true" th:if="${err}!=0">

            <div th:if="${err}==1 OR ${err}==3" class="toast-header error">
                <!--Notificación de error-->
                <i class="fa-solid fa-triangle-exclamation fa-bounce"> </i>
                <strong class="me-auto"> Error</strong>
                <small>Se cerrará en 5 segundos</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>

            <div th:if="${err}==2 OR ${err}==4" class="toast-header correcto">
                <!--Notificación de correcto-->
                <i class="fa-solid fa-circle-check fa-bounce"> </i>
                <strong class="me-auto"> Correcto</strong>
                <small>Se cerrará en 5 segundos</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div th:if="${err}==1" class="toast-body" th:text="#{error.usuario.perfil}"></div>
            <div th:if="${err}==2" class="toast-body" th:text="#{success.usuario.perfil}"></div>
            <div th:if="${err}==3" class="toast-body" th:text="#{error.usuario.direccion}"></div>
            <div th:if="${err}==4" class="toast-body" th:text="#{success.usuario.direccion}"></div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header cabecera">
                        <h5 class="modal-title" id="exampleModalLabel">Selecciones su dirección</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="googleMap" style="width:100%;height:500px;"></div>

                        <script>
                            var map;
                            var marker = null;
                            var latitud, altitud;

                            document.addEventListener("DOMContentLoaded", function () {
                                var inputLat = document.querySelector("#latitud");
                                var inputAlt = document.querySelector("#altitud");

                                marker = new google.maps.Marker({
                                    position: { lat: parseFloat(inputLat.value), lng: parseFloat(inputAlt.value) },
                                    map: map,
                                    title: "Ubicación Seleccionada",
                                })

                                var btnCancelar = document.querySelector("#btnCancelar");
                                btnCancelar.addEventListener("click", function () {
                                    if (marker) {
                                        marker.setMap(null);
                                    }
                                    marker = new google.maps.Marker({
                                        position: { lat: parseFloat(inputLat.value), lng: parseFloat(inputAlt.value) },
                                        map: map,
                                        title: "Ubicación Seleccionada",
                                    })
                                });

                                var btnConfirmar = document.querySelector("#btnConfirmar");
                                btnConfirmar.addEventListener("click", function () {
                                    var inputLat = document.querySelector("#latitud");
                                    var inputAlt = document.querySelector("#altitud");

                                    inputAlt.value = altitud;
                                    inputLat.value = latitud;
                                    console.log(altitud);
                                    console.log(latitud);
                                })

                            });

                            function myMap() {

                                var mapProp = {
                                    center: new google.maps.LatLng(38.093088, -3.780774),
                                    zoom: 15,
                                };
                                map = new google.maps.Map(document.getElementById("googleMap"), mapProp);


                                // Agrega un evento de clic al mapa
                                google.maps.event.addListener(map, 'click', function (event) {
                                    // Obtiene las coordenadas del evento de click
                                    var clickedLatLng = event.latLng;

                                    latitud = clickedLatLng.lat();
                                    altitud = clickedLatLng.lng();

                                    if (marker) {
                                        marker.setMap(null);
                                    }
                                    marker = new google.maps.Marker({
                                        position: { lat: clickedLatLng.lat(), lng: clickedLatLng.lng() },
                                        map: map,
                                        title: "Ubicación Seleccionada",
                                    })
                                });

                            }
                        </script>

                        <script
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO6Ef_22ttWTuk0Q6ThjiLnSMkUURlDPk&callback=myMap">
                            </script>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                            id="btnCancelar">Cancelar</button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                            id="btnConfirmar">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>

        <h1>Modificar Usuario</h1>
        <form th:action="@{/usuarios/update}" method="post" enctype="multipart/form-data" id="formUsuario">
            <div class="row">
                <div class="col">
                    <div class="foto">
                        <img th:if="!(${usuario.imageView})" th:src="@{/img/user.jpg}" class="card-img-top foto-perfil"
                            alt="..." />
                        <img th:unless="!(${usuario.imageView})"
                            th:src="'data:image/jpeg;base64,' + ${usuario.imageView}" class="card-img-top foto-perfil"
                            alt="..." />
                        <input name="file" type="file" id="file" />

                        <div class="enlaces">
                            <h3 class="form-h3 direccion">Dirección</h3>
                            <div th:each="direccion : ${usuario.direcciones}">
                                <div>
                                    <label hidden for="id" class="form-label">ID</label>
                                    <input type="hidden" class="form-control" id="id" name="id"
                                        th:value="${direccion.id}" />
                                </div>
                                <div>
                                    <label for="calle" class="form-label">Calle</label>
                                    <input type="text" class="form-control" id="calle" name="calle"
                                        th:value="${direccion.calle}" />
                                </div>
                                <div>
                                    <label for="latitud" class="form-label">Latitud</label>
                                    <input type="text" class="form-control valid-direccion" id="latitud" name="latitud"
                                        th:value="${direccion.latitud}" />
                                    <div hidden class="valid-direccion">
                                        <label>Comprueba que has escrito bien la latitud, el formato no es el
                                            correcto.</label>
                                    </div>
                                </div>
                                <div>
                                    <label for="altitud" class="form-label">Altitud</label>
                                    <input type="text" class="form-control valid-direccion" id="altitud" name="altitud"
                                        th:value="${direccion.altitud}" />
                                    <div hidden class="valid-direccion">
                                        <label>Comprueba que has escrito bien la altitud, el formato no es el
                                            correcto.</label>
                                    </div>
                                </div>
                                <div>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                        Ver mapa <i class="fa fa-map"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div sec:authorize="hasAnyAuthority('ADMIN')">
                            <h3 class="form-h3 direccion">Permisos</h3>
                            <div th:each="tipo : ${tipos}">
                                <input type="checkbox" name="ck_tipos" th:value="${tipo.id}"
                                    th:checked="${tipo.perteneceUsuario}">
                                <label class="tipo" th:text="${tipo.nombre}"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col espaciado">
                    <div>
                        <label hidden for="usuario_id" class="form-label">ID</label>
                        <input type="hidden" class="form-control" id="usuario_id" name="usuario_id"
                            th:value="${usuario.id}" />
                    </div>
                    <div>
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control valid-text" id="nombre" name="nombre"
                            th:value="${usuario.nombre}" />
                        <div hidden class="valid-text">
                            <label>Comprueba que has escrito bien el nombre.</label>
                        </div>
                    </div>
                    <div>
                        <label for="apellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control valid-text" id="apellidos" name="apellidos"
                            th:value="${usuario.apellidos}" />
                        <div hidden class="valid-text">
                            <label>Comprueba que has escrito bien los apellidos.</label>
                        </div>
                    </div>
                    <div>
                        <label for="correo" class="form-label">Correo</label>
                        <input type="text" class="form-control valid-email" id="correo" name="correo"
                            th:value="${usuario.correo}" />
                        <div hidden class="valid-email">
                            <label>Comprueba que has escrito bien el correo.</label>
                        </div>
                    </div>
                    <div>
                        <label for="provincia_id" class="form-label">Provincia</label>
                        <div class="content-select">
                            <select name="provincia_id">
                                <div th:each="provincia : ${provincias}">
                                    <div th:if="!(${usuario.municipio})">
                                        <option th:value="${provincia.idProvincia}" th:text="${provincia.provincia}">
                                        </option>
                                    </div>
                                    <div th:unless="!(${usuario.municipio})">
                                        <div
                                            th:if="!(${usuario.municipio.provincia.idProvincia}==${provincia.idProvincia})">
                                            <option th:value="${provincia.idProvincia}"
                                                th:text="${provincia.provincia}">
                                            </option>
                                        </div>
                                        <div
                                            th:unless="!(${usuario.municipio.provincia.idProvincia}==${provincia.idProvincia})">
                                            <option th:value="${provincia.idProvincia}" th:text="${provincia.provincia}"
                                                selected="true">
                                            </option>
                                        </div>
                                    </div>
                                </div>
                            </select>
                            <i></i>
                        </div>
                    </div>

                    <div>
                        <label for="municipio_id" class="form-label">Municipio</label>
                        <input type="hidden" class="form-control" id="idMunicipio" name="idMunicipio"
                            th:if="${usuario.municipio}" th:value="${usuario.municipio.idMunicipio}" />
                        <div class="content-select">
                            <select name="municipio_id" disabled>
                                <div th:each="municipios : ${municipios}">
                                    <option th:value="${municipios.idMunicipio}" th:text="${municipios.municipio}">
                                    </option>
                                </div>
                            </select>
                            <i></i>
                        </div>
                    </div>


                    <div th:if="${isProfesor}==1">
                        <label for="materia_profe" class="form-label">Materia</label>
                        <div class="content-select">
                            <select id="materia_profe" name="materia_profe">
                                <option value="0" selected="true">Sin Seleccionar</option>
                                <div th:each="materia : ${materias}">
                                    <div th:if="!(${materia}==${usuario.materia})">
                                        <option th:value="${materia.id}" th:text="${materia.nombre}"></option>
                                        </option>
                                    </div>
                                    <div th:unless="!(${materia}==${usuario.materia})">
                                        <option th:value="${materia.id}" th:text="${materia.nombre}" selected="true">
                                        </option>
                                    </div>
                                </div>
                            </select>
                            <i></i>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="boton">
                    <a th:href="@{/usuarios/list}" class="btn btn-outline-warning" id="btnVolver"
                        sec:authorize="hasAnyAuthority('ADMIN')">Volver</a>
                    <input class="btn btn-outline-success botonCentrado" type="button" id="btnEnviar" value="Guardar">
                    <a th:if="${isProfesor}==1" th:href="@{/calendario/generarCalendario?id=}+${usuario.id}"
                        class="btn btn-outline-info" id="btnCalendario">Generar Calendario <i
                            class="fa fa-calendar-days"></i></a>
                </div>
            </div>

        </form>
    </div>
    <div th:replace="commons/footer :: footer" />
</body>

</html>