<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
  <footer th:fragment="footer" class="py-5">
    <div class="contenedor-footer">
      <p>&copy; 2023 Etutoring, Todos los derechos reservados.</p>
      <img th:src="@{/img/logo-encima.png}" width="100em">
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a href="#"><i class="fa-brands fa-facebook fa-2xl" style="color: rgb(11, 218, 115);"></i></a>
        </li>
        <li class="ms-3">
          <a href="#"><i class="fa-brands fa-twitter fa-2xl" style="color: rgb(11, 218, 115);"></i></a>
        </li>
        <li class="ms-3">
          <a href="#"><i class="fa-brands fa-instagram fa-2xl" style="color: rgb(11, 218, 115);"></i></a>
        </li>
      </ul>
    </div>
  </footer>
</body>

</html>