<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="menu">
    <!-- Menu principal -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">

        <a class="navbar-brand" href="#"><img th:src="@{/img/logo-tumbado.png}" width="200em"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link user" aria-current="page" th:href="@{/usuarios/listProfesor}"
                sec:authorize="hasAnyAuthority('ADMIN','ALUMNO')"><i class="fa-solid fa-chalkboard-user"> </i> Clases</a>
            </li>
            <li class="nav-item">
              <a class="nav-link user" th:href="@{/usuarios/list}" sec:authorize="hasAnyAuthority('ADMIN')"><i class="fa-solid fa-users-line"> </i> Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link user" th:href="@{/materias/list}" sec:authorize="hasAnyAuthority('ADMIN')"><i class="fa-solid fa-book-bookmark"> </i> Materias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link user" th:href="@{/clases/profesor?id=}+${session.usuario_id}" sec:authorize="hasAnyAuthority('ADMIN','PROFESOR')"><i class="fa fa-calendar-days"> </i> Mi Calendario</a>
            </li>
            <li class="nav-item">
              <a class="nav-link user" th:href="@{/clases/usuario?id=}+${session.usuario_id}" sec:authorize="hasAnyAuthority('ADMIN','ALUMNO')"><i class="fa fa-calendar-days"> </i> Mi Calendario</a>
            </li>
          </ul>
          <div class="usuario">
            <a class="nav-link user" th:href="@{/usuarios/modificar?id=}+${session.usuario_id}"><i class="fa-solid fa-user-tie"> </i> Perfil</a>
            <a class="nav-link user" th:href="@{/login}"><i class="fa-solid fa-right-from-bracket"> </i> Cerrar sesión</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</body>

</html>