<!DOCTYPE html>
<html lang="es">

<head th:replace="commons/header :: header" />

<body>
    <style type="text/css">
        h1 {
            text-align: center;
            margin-bottom: 2em;
        }

        .espaciado {
            display: flex;
            flex-direction: row;
            justify-content: center;
            row-gap: 5em;
            column-gap: 5em;
        }

        .espaciado div {
            width: 100%;
        }

        .espaciado input {
            margin-bottom: 1em;
        }

        .row .boton {
            display: flex;
            justify-content: center;
        }

        .boton input,
        .boton a,
        .boton button {
            margin: 4em 1em;
            width: 16em;
        }

        .cabecera {
            background-color: rgba(255, 0, 0, 0.5);
        }

        @media screen and (max-width: 1200px) {
            .espaciado {
                flex-direction: column-reverse;
            }
        }
    </style>
    <div th:replace="commons/menu :: menu" />
    <div class="container">
        <h1>Modificar Dirección</h1>
        <form th:action="@{/direcciones/update}" method="post">
            <div class="row">
                <div class="col espaciado">
                    <div>
                        <div>
                            <label hidden for="id" class="form-label">ID</label>
                            <input type="hidden" class="form-control" id="id" name="id" th:value="${direccion.id}" />
                        </div>
                        <div>
                            <label for="calle" class="form-label">Calle</label>
                            <input type="text" class="form-control" id="calle" name="calle"
                                th:value="${direccion.calle}" />
                        </div>
                        <div>
                            <label for="latitud" class="form-label">Latitud</label>
                            <input type="text" class="form-control" id="latitud" name="latitud"
                                th:value="${direccion.latitud}" />
                        </div>
                        <div>
                            <label for="altitud" class="form-label">Altitud</label>
                            <input type="text" class="form-control" id="altitud" name="altitud"
                                th:value="${direccion.altitud}" />
                        </div>
                    </div>
                    <div id="googleMap" style="width:100%;height:500px;"></div>

                    <script>
                        var map;
                        var marker = null;

                        document.addEventListener("DOMContentLoaded", function () {
                            var inputLat = document.querySelector("#latitud");
                            var inputAlt = document.querySelector("#altitud");

                            marker = new google.maps.Marker({
                                position: { lat: parseFloat(inputLat.value), lng: parseFloat(inputAlt.value) },
                                map: map,
                                title: "Ubicación Seleccionada",
                            })

                        });

                        function myMap() {
                            var mapProp = {
                                center: new google.maps.LatLng(38.093088, -3.780774),
                                zoom: 15,
                            };
                            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);


                            // Agrega un evento de clic al mapa
                            google.maps.event.addListener(map, 'click', function (event) {
                                // Obtiene las coordenadas del evento de click
                                var clickedLatLng = event.latLng;

                                var inputLat = document.querySelector("#latitud");
                                var inputAlt = document.querySelector("#altitud");

                                inputLat.value = clickedLatLng.lat();
                                inputAlt.value = clickedLatLng.lng();

                                if (marker) {
                                    marker.setMap(null);
                                }
                                marker = new google.maps.Marker({
                                    position: { lat: clickedLatLng.lat(), lng: clickedLatLng.lng() },
                                    map: map,
                                    title: "Ubicación Seleccionada",
                                })

                                /*var geocoder = new google.maps.Geocoder();
                                geocoder.geocode({ 'location': clickedLatLng }, function (results, status) {
                                    if (status === 'OK') {
                                        if (results[0]) {
                                            // Obtiene el nombre de la calle desde los resultados de geocodificación
                                            var streetName = results[0].formatted_address;
        
                                            // Muestra el nombre de la calle en la consola
                                            console.log('Nombre de la calle: ' + streetName);
                                        } else {
                                            console.log('No se encontraron resultados de geocodificación');
                                        }
                                    } else {
                                        console.log('Error de geocodificación: ' + status);
                                    }
                                });*/
                            });
                        }
                    </script>

                    <script
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO6Ef_22ttWTuk0Q6ThjiLnSMkUURlDPk&callback=myMap">
                        </script>

                </div>
            </div>
            <div class="row">
                <div class="boton">
                    <a th:href="@{/usuarios/modificar?id=}+${direccion.usuario.id}" class="btn btn-outline-warning"
                        id="btnVolver">Volver</a>
                    <input class="btn btn-outline-success" type="submit" id="btnEnviar" value="Guardar">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        Borrar
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header cabecera">
                    <h5 class="modal-title" id="exampleModalLabel">Borrado dirección</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estas seguro de que quire borrar esta dirección?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                    <a th:href="@{/direcciones/borrar?id=}+${direccion.id}" class="btn btn-danger"
                        id="btnBorrar">Confirmar</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="commons/footer :: footer" />
</body>

</html>